ruokalista/*.rbc
ruokalista/*.sassc
ruokalista/.sass-cache
ruokalista/capybara-*.html
ruokalista/.rspec
ruokalista/.rvmrc
ruokalista/.bundle
ruokalista/vendor/bundle
ruokalista/log/*
ruokalista/tmp/*
ruokalista/db/*.sqlite3
ruokalista/public/system/*
ruokalista/coverage/
ruokalista/spec/tmp/*
ruokalista/**.orig
ruokalista/rerun.txt
ruokalista/pickle-email-*.html
ruokalista/.project
ruokalista/config/initializers/secret_token.rb
